src/main/resources/roles.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://www.example.com/soapservice/roles"
        targetNamespace="http://www.example.com/soapservice/roles" elementFormDefault="qualified">

    <xs:complexType name="role">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>